# Projekt Apache Spark

# Wprowadzenie

Wykorzystując ten notatnik jako szablon zrealizuj projekt Apache Spark zgodnie z przydzielonym zestawem. 

Kilka uwag:

* Nie modyfikuj ani nie usuwaj paragrafów *markdown* w tym notatniku, chyba że wynika to jednoznacznie z instrukcji. 
* Istniejące paragrafy zawierające *kod* uzupełnij w razie potrzeby zgodnie z instrukcjami
    - nie usuwaj ich
    - nie usuwaj zawartych w nich instrukcji oraz kodu
    - nie modyfikuj ich, jeśli instrukcje jawnie tego nie nakazują
* Możesz dodawać nowe paragrafy zarówno zawierające kod jak i komentarze dotyczące tego kodu (markdown)

# Treść projektu

Poniżej w paragrafie markdown wstaw tytuł przydzielonego zestawu

# Zestaw 4 - imdb-persons

**Uwaga**

- W ramach wzorca nie są spełnione żadne reguły projektu. 
- Brak konsekwencji w wykorzystaniu właściwego API w ramach poszczególnych części
- Zadanie *misji głównej* polega na zliczeniu słówek.

# Działania wstępne 

Uruchom poniższy paragraf, aby utworzyć obiekty kontekstu Sparka. Jeśli jest taka potrzeba dostosuj te polecenia. Pamiętaj o potrzebnych bibliotekach.

In [43]:
from pyspark.sql import SparkSession

# Spark session & context
spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

W poniższym paragrafie uzupełnij polecenia definiujące poszczególne zmienne. 

Pamiętaj abyś:

* w późniejszym kodzie, dla wszystkich cześci projektu, korzystał z tych zdefiniowanych zmiennych. Wykorzystuj je analogicznie jak parametry
* przed ostateczną rejestracją projektu usunął ich wartości, tak aby nie pozostawiać w notatniku niczego co mogłoby identyfikować Ciebie jako jego autora

In [44]:
# pełna ścieżka do katalogu w zasobniku zawierającego podkatalogi `datasource1` i `datasource4` 
# z danymi źródłowymi
input_dir = ""

Nie modyfikuj poniższych paragrafów. Wykonaj je i używaj zdefniowanych poniżej zmiennych jak parametrów Twojego programu.

In [45]:
# NIE ZMIENIAĆ
# ścieżki dla danych źródłowych 
datasource1_dir = input_dir + "/datasource1"
datasource4_dir = input_dir + "/datasource4"

# nazwy i ścieżki dla wyników dla misji głównej 
# część 1 (Spark Core - RDD) 
rdd_result_dir = "/tmp/output1"

# część 2 (Spark SQL - DataFrame)
df_result_table = "output2"

# część 3 (Pandas API on Spark)
ps_result_file = "/tmp/output3.json"

In [46]:
# NIE ZMIENIAĆ
import os
def remove_file(file):
    if os.path.exists(file):
        os.remove(file)

remove_file("metric_functions.py")
remove_file("tools_functions.py")

In [47]:
# NIE ZMIENIAĆ
import requests
r = requests.get("https://jankiewicz.pl/bigdata/metric_functions.py", allow_redirects=True)
open('metric_functions.py', 'wb').write(r.content)
r = requests.get("https://jankiewicz.pl/bigdata/tools_functions.py", allow_redirects=True)
open('tools_functions.py', 'wb').write(r.content)

3322

In [48]:
# NIE ZMIENIAĆ
%run metric_functions.py
%run tools_functions.py

Poniższe paragrafy mają na celu usunąć ewentualne pozostałości poprzednich uruchomień tego lub innych notatników

In [49]:
# NIE ZMIENIAĆ
# usunięcie miejsca docelowego dla część 1 (Spark Core - RDD) 
delete_dir(spark, rdd_result_dir)

rm: `/tmp/output1': No such file or directory

Error deleting file /tmp/output1: Command '['hadoop', 'fs', '-rm', '-r', '/tmp/output1']' returned non-zero exit status 1.

In [50]:
# NIE ZMIENIAĆ
# usunięcie miejsca docelowego dla część 2 (Spark SQL - DataFrame) 
drop_table(spark, df_result_table)

The table output2 does not exist.
Error deleting file file:/spark-warehouse/output2: Command '['hadoop', 'fs', '-rm', '-r', 'file:/spark-warehouse/output2']' returned non-zero exit status 1.

rm: `file:/spark-warehouse/output2': No such file or directory

In [51]:
# NIE ZMIENIAĆ
# usunięcie miejsca docelowego dla część 3 (Pandas API on Spark) 
remove_file(ps_result_file)

In [52]:
# NIE ZMIENIAĆ
spark

***Uwaga!***

Uruchom poniższy paragraf i sprawdź czy adres, pod którym dostępny *Apache Spark Application UI* jest poprawny wywołując następny testowy paragraf. 

W razie potrzeby określ samodzielnie poprawny adres, pod którym dostępny *Apache Spark Application UI*

In [53]:
# adres URL, pod którym dostępny Apache Spark Application UI (REST API)
# 
spark_ui_address = extract_host_and_port(spark, "http://localhost:4041")
spark_ui_address

'http://pbd-cluster-m.europe-west4-c.c.big-data-2024-10-ik.internal:39999'

In [54]:
# testowy paragraf
test_metrics = get_current_metrics(spark_ui_address)
test_metrics

{'numTasks': 1398,
 'numActiveTasks': 0,
 'numCompleteTasks': 941,
 'numFailedTasks': 0,
 'numKilledTasks': 0,
 'numCompletedIndices': 941,
 'executorDeserializeTime': 34363,
 'executorDeserializeCpuTime': 14622609865,
 'executorRunTime': 3617406,
 'executorCpuTime': 1007061952030,
 'resultSize': 17031072,
 'jvmGcTime': 24875,
 'resultSerializationTime': 1649,
 'memoryBytesSpilled': 0,
 'diskBytesSpilled': 0,
 'peakExecutionMemory': 29350619424,
 'inputBytes': 18714469889,
 'inputRecords': 372894753,
 'outputBytes': 0,
 'outputRecords': 0,
 'shuffleRemoteBlocksFetched': 16932,
 'shuffleLocalBlocksFetched': 16935,
 'shuffleFetchWaitTime': 404,
 'shuffleRemoteBytesRead': 1478502524,
 'shuffleRemoteBytesReadToDisk': 0,
 'shuffleLocalBytesRead': 4358440696,
 'shuffleReadBytes': 5836943220,
 'shuffleReadRecords': 142370648,
 'shuffleWriteBytes': 4742577417,
 'shuffleWriteTime': 10449458328,
 'shuffleWriteRecords': 147174184}

# Część 1 - Spark Core (RDD)

## Misje poboczne

W ponizszych paragrafach wprowadź swoje rozwiązania *misji pobocznych*, o ile **nie** chcesz, aby oceniana była *misja główna*. W przeciwnym przypadku **KONIECZNIE** pozostaw je **puste**.

In [55]:
#------------
# KOD (Misja 1 - RDD)
#------------
# Zadanie:
# "Przeanalizuj dane dotyczące zmarłych osób: ile osób żyło określoną liczbę lat (age), 
#  ilu z nich było aktorami (actors, actress, actors, actresses), a ilu reżyserami (director)."

# Wczytanie danych z datasource4 
rdd4_raw = sc.textFile(datasource4_dir + "/*.tsv")
header4 = rdd4_raw.first()
rdd4_data = rdd4_raw.filter(lambda row: row != header4)

def parse_person(line):
    # Pola: nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles
    fields = line.split("\t")
    if len(fields) < 6:
        fields += [""]*(6-len(fields))
    return (
        fields[0],  # nconst
        fields[1],  # primaryName
        fields[2],  # birthYear
        fields[3],  # deathYear
        fields[4],  # primaryProfession
        fields[5]   # knownForTitles
    )

# Zestaw wartości, które interpretujemy jako „aktor”
ACTOR_VALUES = {"actor", "actress", "actors", "actresses"}

def is_valid_year(yr):
    return yr.isdigit()

def valid_birth_and_death(rec):
    """
    Zwraca True, jeśli birthYear i deathYear są liczbami oraz birthYear <= deathYear
    """
    bYear = rec[2]
    dYear = rec[3]
    if not (bYear.isdigit() and dYear.isdigit()):
        return False
    return int(bYear) <= int(dYear)

def is_actor(prof):
    """
    Zwraca True, jeśli w liście profesji występuje jedno ze słów
    (actor, actors, actress, actresses).
    """
    prof_list = [p.strip() for p in prof.split(",")]
    return any(p in ACTOR_VALUES for p in prof_list)

def is_director(prof):
    """
    Zwraca True, jeśli w liście profesji występuje 'director'.
    """
    prof_list = [p.strip() for p in prof.split(",")]
    return "director" in prof_list

# Tworzymy RDD z krotkami
rdd4_parsed = rdd4_data.map(parse_person)

# Filtrowanie: birthYear i deathYear są liczbami + birthYear <= deathYear
rdd4_dead = rdd4_parsed.filter(valid_birth_and_death)

def to_age_tuple(rec):
    """
    Zwraca ((age), (count_person=1, isActor, isDirector)).
    """
    nconst, primaryName, bYear, dYear, prof, knownFor = rec
    age = int(dYear) - int(bYear)
    a = 1 if is_actor(prof) else 0
    d = 1 if is_director(prof) else 0
    return (age, (1, a, d))

# Mapujemy do postaci (age, (1, isActor, isDirector))
rdd4_age = rdd4_dead.map(to_age_tuple)

# Redukcja: sumujemy
# => (age, (count_persons, count_actors, count_directors))
rdd4_reduced = rdd4_age.reduceByKey(
    lambda agg, val: (agg[0]+val[0], agg[1]+val[1], agg[2]+val[2])
)

# Sortowanie rosnąco po kluczu 'age'
rdd4_sorted = rdd4_reduced.sortBy(lambda x: x[0])

# Pobieramy do drivera i wyświetlamy
results_m1_rdd = rdd4_sorted.collect()

print("Wyniki Misja 1 (RDD):")
print("age | persons | actors | directors")
for (age, (persons, actors, directors)) in results_m1_rdd:
    print(f"{age}\t{persons}\t{actors}\t{directors}")

Wyniki Misja 1 (RDD):
age | persons | actors | directors
0	7	2	0
1	5	1	0
2	3	1	0
3	5	1	0
4	6	2	0
5	4	2	0
6	11	3	0
7	10	4	0
8	7	4	0
9	10	4	0
10	17	10	0
11	15	11	0
12	16	8	0
13	22	15	0
14	38	15	0
15	32	15	1
16	41	26	1
17	50	29	2
18	71	38	1
19	86	53	1
20	115	79	2
21	103	73	2
22	149	100	3
23	160	87	5
24	199	116	9
25	219	136	4
26	265	153	12
27	304	185	7
28	343	206	15
29	352	207	18
30	390	235	23
31	408	259	31
32	421	271	31
33	438	271	29
34	558	354	31
35	515	304	47
36	547	341	53
37	622	366	53
38	645	368	61
39	721	436	61
40	746	448	72
41	776	454	91
42	754	449	78
43	867	526	100
44	937	595	92
45	989	572	106
46	1099	643	123
47	1082	628	118
48	1240	720	168
49	1338	796	142
50	1458	839	185
51	1462	858	181
52	1577	961	163
53	1675	953	189
54	1746	1022	201
55	1845	1109	202
56	1973	1158	229
57	2072	1213	234
58	2275	1334	273
59	2354	1364	258
60	2420	1400	271
61	2603	1563	280
62	2670	1561	299
63	2862	1689	329
64	2928	1727	332
65	3113	1867	370
66	3230	1909	347
67	3419	2031	375
68	3482	2050	404
69	3623	2148	439
70	3720	2254	403
71	3743	2228	415
72	3870	2330	440
73	3937	2332	451
74	4140	2469	447
75	4308	2507	450
76	4138	2421	458
77	4154	2394	476
78	4271	2536	454
79	4134	2390	462
80	4234	2484	445
81	4213	2461	440
82	4214	2425	428
83	4109	2318	417
84	4007	2271	437
85	3896	2210	413
86	3764	2081	406
87	3486	1967	362
88	3342	1827	322
89	3124	1671	305
90	2867	1542	290
91	2438	1309	209
92	2235	1206	184
93	1911	1006	162
94	1587	826	130
95	1316	648	109
96	1075	546	78
97	820	374	57
98	618	306	54
99	467	206	28
100	316	152	20
101	268	125	20
102	179	79	11
103	121	57	2
104	87	34	6
105	51	19	3
106	46	19	3
107	18	4	1
108	21	4	2
109	7	2	0
110	7	2	0
111	5	1	0
112	3	1	0
113	2	0	0
114	1	0	0
115	3	0	0
116	2	0	0
117	1	1	0
118	1	0	0
121	1	1	0
122	1	0	0

In [58]:
#------------
# KOD (Misja 2 - RDD)
#------------
# Zadanie:
# "Wśród osób, które urodziły się w ubiegłym wieku (np. 1900–1999) i przeżyły ponad 70 lat,
#  wyznacz te trzy, które brały udział w największej liczbie filmów. 
#  Określ też w ilu filmach byli oni aktorami (role in [actor, actress, self]) 
#  oraz ile filmów reżyserowali (role = director)."


#rdd1_raw = sc.textFile(datasource1_dir + "/part-*")
rdd1_raw = sc.textFile(datasource1_dir + "/*.tsv")

def parse_title_person(line):
    # Pola: tconst, ordering, nconst, role, job, characters
    fields = line.split("\t")
    if len(fields) < 6:
        fields += [""] * (6 - len(fields))
    return (
        fields[0],  # tconst
        fields[1],  # ordering
        fields[2],  # nconst
        fields[3],  # role
        fields[4],  # job
        fields[5],  # characters
    )

rdd1_parsed = rdd1_raw.map(parse_title_person)

# Wczytanie datasource4 (przyjmujemy, że w jednym z plików jest wiersz nagłówkowy)
rdd4_raw = sc.textFile(datasource4_dir + "/name.basics.tsv")

# Pobieramy pierwszy wiersz jako nagłówek...
header4 = rdd4_raw.first()
# ...i filtrujemy go (dotyczy wyłącznie tego wiersza, w razie potrzeby można pominąć)
rdd4_data = rdd4_raw.filter(lambda row: row != header4)

def parse_person(line):
    # Pola: nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles
    fields = line.split("\t")
    if len(fields) < 6:
        fields += [""] * (6 - len(fields))
    return (
        fields[0],  # nconst
        fields[1],  # primaryName
        fields[2],  # birthYear
        fields[3],  # deathYear
        fields[4],  # primaryProfession
        fields[5],  # knownForTitles
    )

def is_valid_year(yr):
    return yr.isdigit()

# Konwersja do RDD obiektów
rdd4_parsed = rdd4_data.map(parse_person)

# Filtr: birthYear w [1900..1999], deathYear liczba, i (deathYear - birthYear) > 70
def filter_ubiegly_wiek_over70(rec):
    nconst, name, bYear, dYear, profs, known = rec
    if not (is_valid_year(bYear) and is_valid_year(dYear)):
        return False
    by = int(bYear)
    dy = int(dYear)
    age = dy - by
    return (1900 <= by <= 1999) and (age > 70)

rdd4_filtered = rdd4_parsed.filter(filter_ubiegly_wiek_over70)

# Mapa: (nconst, (primaryName, birthYear, age))
def map_nconst_info(rec):
    nconst, name, bYear, dYear, profs, known = rec
    return (
        nconst,
        (name, bYear, int(dYear) - int(bYear))
    )

rdd4_prepared = rdd4_filtered.map(map_nconst_info)

# Utworzenie RDD (nconst, (tconst, role)) z datasource1
rdd1_mapped = rdd1_parsed.map(lambda x: (x[2], (x[0], x[3])))

# Łączenie po kluczu nconst
joined_rdd = rdd4_prepared.join(rdd1_mapped)
# => (nconst, ((primaryName, birthYear, age), (tconst, role)))

# Grupowanie po nconst
grouped_rdd = joined_rdd.groupByKey()

def aggregate_person_data(records):
    # records to zbiór: [((primaryName, birthYear, age), (tconst, role)), ...]
    all_movies = set()
    actor_movies = set()
    director_movies = set()
    primaryName = None
    bYear = None
    age = None

    for elem in records:
        (pName, bYearTmp, aTmp) = elem[0]  # (primaryName, birthYear, age)
        (tconst, role) = elem[1]          # (tconst, role)

        if primaryName is None:
            primaryName = pName
            bYear = bYearTmp
            age = aTmp

        all_movies.add(tconst)
        # Rola w [actor, actress, self] => liczymy jako aktora
        if role in ["actor", "actress", "self"]:
            actor_movies.add(tconst)
        if role == "director":
            director_movies.add(tconst)

    return (
        primaryName,
        bYear,
        age,
        len(all_movies),
        len(actor_movies),
        len(director_movies)
    )

# (nconst, (primaryName, birthYear, age, filmCount, filmCountAsActor, filmCountAsDirector))
aggregated = grouped_rdd.mapValues(aggregate_person_data)

# Interesują nas wyłącznie wartości, bez klucza nconst
res_m2_rdd = aggregated.map(lambda x: x[1])

# Sortowanie malejąco wg filmCount (indeks 3 w krotce)
sorted_m2 = res_m2_rdd.sortBy(lambda x: x[3], ascending=False)

# Wyciągnięcie top3
top3_m2_rdd = sorted_m2.take(3)

print("Wyniki Misja 2 (RDD):")
print("primaryName | birthYear | age | filmCount | filmCountAsActor | filmCountAsDirector")
for row in top3_m2_rdd:
    print(row)

Wyniki Misja 2 (RDD):
primaryName | birthYear | age | filmCount | filmCountAsActor | filmCountAsDirector
('Reg Watson', '1926', 93, 13408, 1, 184)
('Tony Warren', '1937', 79, 9874, 9, 0)
('William J. Bell', '1927', 78, 8483, 4, 0)

## Misja główna 

Poniższy paragraf zapisuje metryki przed uruchomieniem Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [13]:
# NIE ZMIENIAĆ
before_rdd_metrics = get_current_metrics(spark_ui_address)

W poniższych paragrafach wprowadź **rozwiązanie** *misji głównej* oparte na *RDD API*. 

Pamiętaj o wydajności Twojego przetwarzania, *RDD API* tego wymaga. 

Nie wprowadzaj w poniższych paragrafach żadnego kodu, w przypadku wykorzystania *misji pobocznych*.

In [14]:
# Wczytanie plików tekstowych
text_files = sc.textFile(datasource4_dir)

In [15]:
# Podział linii na słowa i zliczanie ilości wystąpień każdego słowa
word_counts = text_files.flatMap(lambda line: line.split(" ")) \
                        .map(lambda word: (word, 1)) \
                        .reduceByKey(lambda x, y: x + y)

In [16]:
# Zapis wyniku do pliku pickle
word_counts.saveAsPickleFile(rdd_result_dir)

Poniższy paragraf zapisuje metryki po uruchomieniu Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [17]:
# NIE ZMIENIAĆ
after_rdd_metrics = get_current_metrics(spark_ui_address)

# Część 2 - Spark SQL (DataFrame)

## Misje poboczne

W ponizszych paragrafach wprowadź swoje rozwiązania *misji pobocznych*, o ile **nie** chcesz, aby oceniana była *misja główna*. W przeciwnym przypadku **KONIECZNIE** pozostaw je **puste**.

In [56]:
#------------
# KOD (Misja 1 - DataFrame)
#------------
from pyspark.sql.functions import col, when, split, array_contains, size, count, sum

# Zestaw wartości, które uznajemy za 'aktor'
ACTOR_VALUES = ["actor","actress","actors","actresses"]

# Wczytujemy datasource4 z nagłówkiem (format TSV)
df4 = (spark.read
    .option("header", True)
    .option("inferSchema", True)
    .option("sep", "\t")
    .csv(datasource4_dir + "/*.tsv"))

# Filtr: birthYear i deathYear są liczbami + birthYear <= deathYear
df4_valid = df4.filter(
    (col("birthYear").rlike("^[0-9]+$")) &
    (col("deathYear").rlike("^[0-9]+$")) &
    (col("birthYear").cast("int") <= col("deathYear").cast("int"))
)

# Konwersja kolumn na integer
df4_casted = df4_valid.withColumn("birthYear", col("birthYear").cast("int")) \
                     .withColumn("deathYear", col("deathYear").cast("int"))

# Wyliczamy age
df4_age = df4_casted.withColumn("age", col("deathYear") - col("birthYear"))

# Definiujemy kolumny isActor / isDirector
# isActor = 1, jeśli w polu primaryProfession występuje (actor, actress, actors, actresses)
# isDirector = 1, jeśli w polu primaryProfession występuje 'director'
df4_age = df4_age.withColumn(
    "isActor",
    when(
        # array_contains(..., ...) => sprawdza, czy dany element jest w tablicy
        # aby uwzględnić wiele wartości, łączymy je warunkami OR
        (array_contains(split(col("primaryProfession"), ","), ACTOR_VALUES[0]))
        | (array_contains(split(col("primaryProfession"), ","), ACTOR_VALUES[1]))
        | (array_contains(split(col("primaryProfession"), ","), ACTOR_VALUES[2]))
        | (array_contains(split(col("primaryProfession"), ","), ACTOR_VALUES[3])),
        1
    ).otherwise(0)
)

df4_age = df4_age.withColumn(
    "isDirector",
    when(
        array_contains(split(col("primaryProfession"), ","), "director"), 1
    ).otherwise(0)
)

# Grupowanie po age
df_agg = df4_age.groupBy("age").agg(
    count("*").alias("persons"),
    sum("isActor").alias("actors"),
    sum("isDirector").alias("directors")
)

df_agg.orderBy("age").show(200, truncate=False)

+---+-------+------+---------+
|age|persons|actors|directors|
+---+-------+------+---------+
|0  |7      |2     |0        |
|1  |5      |1     |0        |
|2  |3      |1     |0        |
|3  |5      |1     |0        |
|4  |6      |2     |0        |
|5  |4      |2     |0        |
|6  |11     |3     |0        |
|7  |10     |4     |0        |
|8  |7      |4     |0        |
|9  |10     |4     |0        |
|10 |17     |10    |0        |
|11 |15     |11    |0        |
|12 |16     |8     |0        |
|13 |22     |15    |0        |
|14 |38     |15    |0        |
|15 |32     |15    |1        |
|16 |41     |26    |1        |
|17 |50     |29    |2        |
|18 |71     |38    |1        |
|19 |86     |53    |1        |
|20 |115    |79    |2        |
|21 |103    |73    |2        |
|22 |149    |100   |3        |
|23 |160    |87    |5        |
|24 |199    |116   |9        |
|25 |219    |136   |4        |
|26 |265    |153   |12       |
|27 |304    |185   |7        |
|28 |343    |206   |15       |
|29 |352    |207   |18       |
|30 |390    |235   |23       |
|31 |408    |259   |31       |
|32 |421    |271   |31       |
|33 |438    |271   |29       |
|34 |558    |354   |31       |
|35 |515    |304   |47       |
|36 |547    |341   |53       |
|37 |622    |366   |53       |
|38 |645    |368   |61       |
|39 |721    |436   |61       |
|40 |746    |448   |72       |
|41 |776    |454   |91       |
|42 |754    |449   |78       |
|43 |867    |526   |100      |
|44 |937    |595   |92       |
|45 |989    |572   |106      |
|46 |1099   |643   |123      |
|47 |1082   |628   |118      |
|48 |1240   |720   |168      |
|49 |1338   |796   |142      |
|50 |1458   |839   |185      |
|51 |1462   |858   |181      |
|52 |1577   |961   |163      |
|53 |1675   |953   |189      |
|54 |1746   |1022  |201      |
|55 |1845   |1109  |202      |
|56 |1973   |1158  |229      |
|57 |2072   |1213  |234      |
|58 |2275   |1334  |273      |
|59 |2354   |1364  |258      |
|60 |2420   |1400  |271      |
|61 |2603   |1563  |280      |
|62 |2670   |1561  |299      |
|63 |2862   |1689  |329      |
|64 |2928   |1727  |332      |
|65 |3113   |1867  |370      |
|66 |3230   |1909  |347      |
|67 |3419   |2031  |375      |
|68 |3482   |2050  |404      |
|69 |3623   |2148  |439      |
|70 |3720   |2254  |403      |
|71 |3743   |2228  |415      |
|72 |3870   |2330  |440      |
|73 |3937   |2332  |451      |
|74 |4140   |2469  |447      |
|75 |4308   |2507  |450      |
|76 |4138   |2421  |458      |
|77 |4154   |2394  |476      |
|78 |4271   |2536  |454      |
|79 |4134   |2390  |462      |
|80 |4234   |2484  |445      |
|81 |4213   |2461  |440      |
|82 |4214   |2425  |428      |
|83 |4109   |2318  |417      |
|84 |4007   |2271  |437      |
|85 |3896   |2210  |413      |
|86 |3764   |2081  |406      |
|87 |3486   |1967  |362      |
|88 |3342   |1827  |322      |
|89 |3124   |1671  |305      |
|90 |2867   |1542  |290      |
|91 |2438   |1309  |209      |
|92 |2235   |1206  |184      |
|93 |1911   |1006  |162      |
|94 |1587   |826   |130      |
|95 |1316   |648   |109      |
|96 |1075   |546   |78       |
|97 |820    |374   |57       |
|98 |618    |306   |54       |
|99 |467    |206   |28       |
|100|316    |152   |20       |
|101|268    |125   |20       |
|102|179    |79    |11       |
|103|121    |57    |2        |
|104|87     |34    |6        |
|105|51     |19    |3        |
|106|46     |19    |3        |
|107|18     |4     |1        |
|108|21     |4     |2        |
|109|7      |2     |0        |
|110|7      |2     |0        |
|111|5      |1     |0        |
|112|3      |1     |0        |
|113|2      |0     |0        |
|114|1      |0     |0        |
|115|3      |0     |0        |
|116|2      |0     |0        |
|117|1      |1     |0        |
|118|1      |0     |0        |
|121|1      |1     |0        |
|122|1      |0     |0        |
+---+-------+------+---------+

In [59]:
#------------
# KOD (Misja 2 - DataFrame)
#------------

from pyspark.sql.functions import (
    col, split, explode, expr, array_contains, size,
    count, sum, collect_set
)
from pyspark.sql.types import StructType, StructField, StringType

# 1) DataFrame z datasource4 (pliki .tsv, z nagłówkiem)
df4 = (spark.read
    .option("header", True)
    .option("inferSchema", True)
    .option("sep", "\t")
    .csv(datasource4_dir + "/*.tsv"))  # lub ... + "/name.basics.tsv"

df4 = df4.filter(
    (col("birthYear").rlike("^[0-9]+$")) &
    (col("deathYear").rlike("^[0-9]+$"))
).withColumn("birthYear", col("birthYear").cast("int")) \
 .withColumn("deathYear", col("deathYear").cast("int"))

# Dodajemy kolumnę age
df4 = df4.withColumn("age", col("deathYear") - col("birthYear"))

# Filtr: urodzeni w [1900..1999], żyli > 70 lat
df4_filtr = df4.filter(
    (col("birthYear") >= 1900) &
    (col("birthYear") <= 1999) &
    (col("age") > 70)
)

# 2) DataFrame z datasource1 (brak nagłówka, pliki part-xxxx)
schema_ds1 = StructType([
    StructField("tconst", StringType(), True),
    StructField("ordering", StringType(), True),
    StructField("nconst", StringType(), True),
    StructField("role", StringType(), True),
    StructField("job", StringType(), True),
    StructField("characters", StringType(), True)
])

df1 = (spark.read
    .option("header", False)
    .option("sep", "\t")
    .schema(schema_ds1)
    .csv(datasource1_dir + "/*.tsv"))
#df1 = (spark.read
#    .option("header", False)    
#    .option("sep", "\t")
#    .schema(schema_ds1)
#    .csv(datasource1_dir + "/part-*")) 

# JOIN po nconst
df_join = df4_filtr.join(df1, on="nconst", how="inner")

# Zliczamy liczbę unikalnych tconst, unikalnych tconst gdzie role in [actor, actress, self], role=director
df_grouped = df_join.groupBy("nconst", "primaryName", "birthYear", "age") \
    .agg(
        collect_set("tconst").alias("allMovies"),
        collect_set(expr("CASE WHEN role IN ('actor','actress','self') THEN tconst END")).alias("actorMovies"),
        collect_set(expr("CASE WHEN role = 'director' THEN tconst END")).alias("directorMovies"),
    )

# Dodajemy kolumny z liczebnością
df_final = df_grouped.select(
    col("primaryName"),
    col("birthYear"),
    col("age"),
    size(col("allMovies")).alias("filmCount"),
    size(col("actorMovies")).alias("filmCountAsActor"),
    size(col("directorMovies")).alias("filmCountAsDirector")
).orderBy(col("filmCount").desc())

# Wybieramy top3
df_final.show(3, truncate=False)

+---------------+---------+---+---------+----------------+-------------------+
|primaryName    |birthYear|age|filmCount|filmCountAsActor|filmCountAsDirector|
+---------------+---------+---+---------+----------------+-------------------+
|Reg Watson     |1926     |93 |13408    |1               |184                |
|Tony Warren    |1937     |79 |9874     |9               |0                  |
|William J. Bell|1927     |78 |8483     |4               |0                  |
+---------------+---------+---+---------+----------------+-------------------+
only showing top 3 rows

## Misja główna 

Poniższy paragraf zapisuje metryki przed uruchomieniem Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [18]:
# NIE ZMIENIAĆ
before_df_metrics = get_current_metrics(spark_ui_address)

W poniższych paragrafach wprowadź **rozwiązanie** *misji głównej* swojego projektu oparte o *DataFrame API*. 

Pamiętaj o wydajności Twojego przetwarzania, *DataFrame API* nie jest w stanie wszystkiego "naprawić". 

Nie wprowadzaj w poniższych paragrafach żadnego kodu, w przypadku wykorzystania *misji pobocznych*.

In [19]:
from pyspark.sql.functions import split, explode, count
# Wczytanie danych
data = spark.read.text(datasource4_dir)

In [20]:
# Dzielenie linii na słowa i eksplozja do osobnych wierszy
words = data.select(explode(split(data.value, " ")).alias("word"))

# Zliczanie słów
word_counts = words.groupBy("word").agg(count("word").alias("count"))

In [21]:
# Zapis wyników do tabeli 
word_counts.write.mode("overwrite").saveAsTable(df_result_table)

Poniższy paragraf zapisuje metryki po uruchomieniu Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [22]:
# NIE ZMIENIAĆ
after_df_metrics = get_current_metrics(spark_ui_address)

# Część 3 - Pandas API on Spark

Ta część to wyzwanie. W szczególności dla osób, które nie programują na co dzień w Pythonie, lub które nie nie korzystały do tej pory z Pandas API.  

Powodzenia!

## Misje poboczne

W ponizszych paragrafach wprowadź swoje rozwiązania *misji pobocznych*, o ile **nie** chcesz, aby oceniana była *misja główna*. W przeciwnym przypadku **KONIECZNIE** pozostaw je **puste**.

In [57]:
#------------
# KOD (Misja 1 - Pandas API on Spark)
#------------
import pyspark.pandas as ps
from pyspark.sql.functions import col

# Zestaw wartości, które uznajemy za 'aktor'
ACTOR_VALUES = {"actor","actress","actors","actresses"}

# Wczytujemy datasource4 z nagłówkiem do Spark DataFrame
df4_spark = (
    spark.read
    .option("header", True)
    .option("inferSchema", True)
    .option("sep", "\t")
    .csv(datasource4_dir + "/*.tsv")
)

# Konwersja do ps.DataFrame (Pandas API on Spark)
df4_pdf = df4_spark.to_pandas_on_spark()

# 1) Filtr: birthYear, deathYear są liczbami (^\d+$) i birthYear <= deathYear
df4_pdf = df4_pdf[
    df4_pdf["birthYear"].str.match(r"^\d+$") &
    df4_pdf["deathYear"].str.match(r"^\d+$")
]
# Konwertujemy na int
df4_pdf["birthYear"] = df4_pdf["birthYear"].astype(int)
df4_pdf["deathYear"] = df4_pdf["deathYear"].astype(int)

df4_pdf = df4_pdf[df4_pdf["birthYear"] <= df4_pdf["deathYear"]]

# 2) Obliczamy age
df4_pdf["age"] = df4_pdf["deathYear"] - df4_pdf["birthYear"]

# Funkcje pomocnicze do ustalania isActor, isDirector
def check_actor(profs: str) -> int:
    if not isinstance(profs, str):
        return 0
    splitted = [p.strip() for p in profs.split(",")]
    # Zwraca 1, jeśli w splitted pojawia się co najmniej jeden element z ACTOR_VALUES
    return 1 if any(p in ACTOR_VALUES for p in splitted) else 0

def check_director(profs: str) -> int:
    if not isinstance(profs, str):
        return 0
    splitted = [p.strip() for p in profs.split(",")]
    return 1 if "director" in splitted else 0

df4_pdf["isActor"] = df4_pdf["primaryProfession"].apply(check_actor)
df4_pdf["isDirector"] = df4_pdf["primaryProfession"].apply(check_director)

# 3) Grupujemy po age: zliczamy persons, sumę isActor, sumę isDirector
grouped = df4_pdf.groupby("age").agg(
    persons=("nconst", "count"),
    actors=("isActor", "sum"),
    directors=("isDirector", "sum")
).sort_index()

print(grouped)

/usr/lib/spark/python/pyspark/sql/dataframe.py:5723: FutureWarning: DataFrame.to_pandas_on_spark is deprecated. Use DataFrame.pandas_api instead.
  warnings.warn(

     persons  actors  directors
age
0          7       2          0
1          5       1          0
2          3       1          0
3          5       1          0
4          6       2          0
5          4       2          0
6         11       3          0
7         10       4          0
8          7       4          0
9         10       4          0
10        17      10          0
11        15      11          0
12        16       8          0
13        22      15          0
14        38      15          0
15        32      15          1
16        41      26          1
17        50      29          2
18        71      38          1
19        86      53          1
20       115      79          2
21       103      73          2
22       149     100          3
23       160      87          5
24       199     116          9
25       219     136          4
26       265     153         12
27       304     185          7
28       343     206         15
29       352     207         18
30       390     235         23
31       408     259         31
32       421     271         31
33       438     271         29
34       558     354         31
35       515     304         47
36       547     341         53
37       622     366         53
38       645     368         61
39       721     436         61
40       746     448         72
41       776     454         91
42       754     449         78
43       867     526        100
44       937     595         92
45       989     572        106
46      1099     643        123
47      1082     628        118
48      1240     720        168
49      1338     796        142
50      1458     839        185
51      1462     858        181
52      1577     961        163
53      1675     953        189
54      1746    1022        201
55      1845    1109        202
56      1973    1158        229
57      2072    1213        234
58      2275    1334        273
59      2354    1364        258
60      2420    1400        271
61      2603    1563        280
62      2670    1561        299
63      2862    1689        329
64      2928    1727        332
65      3113    1867        370
66      3230    1909        347
67      3419    2031        375
68      3482    2050        404
69      3623    2148        439
70      3720    2254        403
71      3743    2228        415
72      3870    2330        440
73      3937    2332        451
74      4140    2469        447
75      4308    2507        450
76      4138    2421        458
77      4154    2394        476
78      4271    2536        454
79      4134    2390        462
80      4234    2484        445
81      4213    2461        440
82      4214    2425        428
83      4109    2318        417
84      4007    2271        437
85      3896    2210        413
86      3764    2081        406
87      3486    1967        362
88      3342    1827        322
89      3124    1671        305
90      2867    1542        290
91      2438    1309        209
92      2235    1206        184
93      1911    1006        162
94      1587     826        130
95      1316     648        109
96      1075     546         78
97       820     374         57
98       618     306         54
99       467     206         28
100      316     152         20
101      268     125         20
102      179      79         11
103      121      57          2
104       87      34          6
105       51      19          3
106       46      19          3
107       18       4          1
108       21       4          2
109        7       2          0
110        7       2          0
111        5       1          0
112        3       1          0
113        2       0          0
114        1       0          0
115        3       0          0
116        2       0          0
117        1       1          0
118        1       0          0
121        1       1          0
122        1       0          0

24/12/25 15:03:04 WARN AttachDistributedSequenceExec: clean up cached RDD(323) in AttachDistributedSequenceExec(1550)

In [60]:
#------------
# KOD (Misja 2 - Pandas API on Spark)
#------------
import pyspark.pandas as ps
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.functions import expr

# 1) Wczytanie danych z datasource4 do Spark DF, konwersja do ps.DataFrame
df4_spark = (spark.read
    .option("header", True)
    .option("inferSchema", True)
    .option("sep", "\t")
    .csv(datasource4_dir + "/*.tsv"))

df4_pdf = df4_spark.to_pandas_on_spark()

df4_pdf = df4_pdf[
    (df4_pdf["birthYear"].str.match(r"^\d+$")) &
    (df4_pdf["deathYear"].str.match(r"^\d+$"))
]
df4_pdf["birthYear"] = df4_pdf["birthYear"].astype(int)
df4_pdf["deathYear"] = df4_pdf["deathYear"].astype(int)
df4_pdf["age"] = df4_pdf["deathYear"] - df4_pdf["birthYear"]

df4_pdf = df4_pdf[
    (df4_pdf["birthYear"] >= 1900) &
    (df4_pdf["birthYear"] <= 1999) &
    (df4_pdf["age"] > 70)
]

# 2) Wczytanie datasource1
schema_ds1 = StructType([
    StructField("tconst", StringType(), True),
    StructField("ordering", StringType(), True),
    StructField("nconst", StringType(), True),
    StructField("role", StringType(), True),
    StructField("job", StringType(), True),
    StructField("characters", StringType(), True)
])


df1_spark = (spark.read
    .option("header", False)
    .option("sep", "\t")
    .schema(schema_ds1)
    .csv(datasource1_dir + "/*.tsv"))
#df1_spark = (spark.read
#    .option("header", False)  
#    .option("sep", "\t")
#    .schema(schema_ds1)
#    .csv(datasource1_dir + "/part-*"))


df1_pdf = df1_spark.to_pandas_on_spark()

# Join po nconst
joined_pdf = df4_pdf.merge(df1_pdf, on="nconst", how="inner")

# Teraz musimy zgrupować po nconst i policzyć:
# - liczbę unikalnych tconst,
# - liczbę unikalnych tconst, gdzie role in [actor, actress, self],
# - liczbę unikalnych tconst, gdzie role='director'.
def role_map(role):
    if role in ["actor","actress","self"]:
        return "actor"
    elif role == "director":
        return "director"
    else:
        return "other"

joined_pdf["roleMapped"] = joined_pdf["role"].apply(role_map)

grouped_pdf = joined_pdf.groupby(["nconst","primaryName","birthYear","age"])

def aggregate_films(df):
    all_movies = set(df["tconst"].values.tolist())
    actor_movies = set(df[df["roleMapped"]=="actor"]["tconst"].values.tolist())
    director_movies = set(df[df["roleMapped"]=="director"]["tconst"].values.tolist())
    return pd.Series({
        "filmCount": len(all_movies),
        "filmCountAsActor": len(actor_movies),
        "filmCountAsDirector": len(director_movies)
    })

import pandas as pd

result_pdf = grouped_pdf.apply(aggregate_films).reset_index()

# Sortujemy malejąco po filmCount i wyświetlamy top 3
top3_pdf = result_pdf.sort_values("filmCount", ascending=False).head(3)

print(top3_pdf)

/usr/lib/spark/python/pyspark/sql/dataframe.py:5723: FutureWarning: DataFrame.to_pandas_on_spark is deprecated. Use DataFrame.pandas_api instead.
  warnings.warn(
/usr/lib/spark/python/pyspark/sql/dataframe.py:5723: FutureWarning: DataFrame.to_pandas_on_spark is deprecated. Use DataFrame.pandas_api instead.
  warnings.warn(
24/12/25 15:23:12 WARN AttachDistributedSequenceExec: clean up cached RDD(399) in AttachDistributedSequenceExec(1910)
/usr/lib/spark/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If the type hints is not specified for `groupby.apply`, it is expensive to infer the data type internally.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)
24/12/25 15:24:24 WARN AttachDistributedSequenceExec: clean up cached RDD(427) in AttachDistributedSequenceExec(2136)
24/12/25 15:26:01 WARN AttachDistributedSequenceExec: clean up cached RDD(458) in AttachDistributedSequenceExec(2413)
24/12/25 15:27:01 WARN AttachDistributedSequenceExec: clean up cached RDD(474) in AttachDistributedSequenceExec(2729)

          nconst      primaryName  birthYear  age  filmCount  filmCountAsActor  filmCountAsDirector
51059  nm0914844       Reg Watson       1926   93      13408                 1                  184
51043  nm0912726      Tony Warren       1937   79       9874                 9                    0
878    nm0068589  William J. Bell       1927   78       8483                 4                    0

## Misja główna 

Poniższy paragraf zapisuje metryki przed uruchomieniem Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [23]:
#NIE ZMIENIAĆ
before_ps_metrics = get_current_metrics(spark_ui_address)

W poniższych paragrafach wprowadź **rozwiązanie** swojego projektu oparte o *Pandas API on Spark*. 

Pamiętaj o wydajności Twojego przetwarzania, *Pandas API on Spark* nie jest w stanie wszystkiego "naprawić". 

Nie wprowadzaj w poniższych paragrafach żadnego kodu, w przypadku wykorzystania *misji pobocznych*.

In [24]:
import pyspark.pandas as ps

lines_ps = ps.read_csv(datasource4_dir, header=None)

/usr/local/spark/python/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(
/usr/local/spark/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [25]:
words_ps = lines_ps[0].apply(lambda x: x.split(' ') if x is not None else []).explode().reset_index(drop=True)

In [26]:
word_counts = words_ps.value_counts()

/usr/local/spark/python/pyspark/pandas/base.py:1437: FutureWarning: The resulting Series will have a fixed name of 'count' from 4.0.0.
  warnings.warn(

In [27]:
word_counts_pandas = word_counts.head(50).to_pandas()

/usr/local/spark/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_pandas` loads all data into the driver's memory. It should only be used if the resulting pandas Series is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [28]:
word_counts_pandas.to_json(ps_result_file, orient='index')

Poniższy paragraf zapisuje metryki po uruchomieniu Twojego rozwiązania *misji głównej*. 

Nie musisz go uruchamiać podczas implementacji rozwiązania.

In [30]:
#NIE ZMIENIAĆ
after_ps_metrics = get_current_metrics(spark_ui_address)

# Analiza wyników i wydajności *misji głównych*

## Część 1 - Spark Core (RDD)

In [31]:
# Wczytanie wyników z pliku pickle
word_counts = sc.pickleFile(rdd_result_dir)

# Wyświetlenie 50 pierwszych elementów
result_sample = word_counts.take(50)
for item in result_sample:
    print(item)

('TeriyakiApps\x01~\x01teriyakiapps@gmail.com\x018589934594', 1)
('Koza\x01http://www.xynapse.pl\x01xynapse@xynapse.pl\x018589934595', 1)
('Tools\x01https://vcb30cb43.app-ads-txt.com/app-ads.txt\x01androtools222@gmail.com\x018589934596', 1)
('Muslim', 110)
('FireFlies', 2)
('Studio\x01~\x01manuariza95@gmail.com\x018589934602', 1)
('News', 494)
('IST-Development\x01https://istanbulit.com\x01info@istanbulit.com\x018589934604', 1)
('FAStuidoTI\x01~\x01karimkhalfy@gmail.com\x018589934605', 1)
('Web4Minds,', 1)
('V3', 8)
('Smart', 2437)
('Ltd\x01http://www.v3smarttech.com\x01support@v3smarttech.com\x018589934607', 1)
('Mobil', 143)
('UNDERSCORE:', 1)
('Apps', 6350)
('and', 5289)
('Games\x01~\x01ergamesapps@gmail.com\x018589934609', 1)
('tamapps\x01~\x01zakdermeister@gmail.com\x018589934614', 1)
('S.', 397)
('Connect', 331)
('Team\x01https://mewe.com/join/klwpdevelopersteam\x01designcorpviti@gmail.com\x018589934618', 1)
('for', 2565)
('with', 262)
('NETWORKS', 23)
('PTE', 226)
('Art\x01https://www.bytesart.site\x01support@bytesart.tech\x018589934624', 1)
('Mother', 28)
('ShowMeTheParts\x01http://www.ShowMeTheParts.com\x01showmetheparts@gmail.com\x018589934628', 1)
('Sitevenia\x01http://www.wmphotos.fr\x01williammoureaux@sfr.fr\x018589934629', 1)
('NOVATIVE\x01https://www.novative.com/\x01sales@novative.com\x018589934634', 1)
('Chokurei', 5)
('everyone\x01https://www.sistemaeducativofinanciero.com/p/privacy\x01sanz112358@gmail.com\x018589934635', 1)
('Orotti', 1)
('Apps\x01http://www.orotti.com\x01apps@orotti.com\x018589934636', 1)
('Rabbitz', 2)
('Games\x01~\x01madrabbitzgames@gmail.com\x018589934637', 1)
('ParkerSoft\x01~\x01ianparker2007@yahoo.co.uk\x018589934638', 1)
('ISHAN', 5)
('Bismania', 2)
('Wei', 36)
('Jie\x01https://github.com/myluckynumbers/In-Between\x01limweijie250@gmail.com\x018589934644', 1)
('Iraqi', 3)
('Investment', 273)
('MV', 59)
('S/A\x01http://www.mv.com.br\x01inovacaomv@gmail.com\x018589934646', 1)
('Welfare', 43)
('Gosa\x01https://www.facebook.com/themexperia\x01support@mkninc.ru\x018589934648', 1)
('Frillapps\x01https://weedleapps.co.il/\x01ozvi.inc@gmail.com\x018589934651', 1)
('Beansprites', 5)

In [32]:
subtract_metrics(after_rdd_metrics, before_rdd_metrics)

{'numTasks': 6,
 'numActiveTasks': 0,
 'numCompleteTasks': 6,
 'numFailedTasks': 0,
 'numKilledTasks': 0,
 'numCompletedIndices': 6,
 'executorDeserializeTime': 763,
 'executorDeserializeCpuTime': 288417800,
 'executorRunTime': 52789,
 'executorCpuTime': 3791290300,
 'resultSize': 12143,
 'jvmGcTime': 1808,
 'resultSerializationTime': 19,
 'memoryBytesSpilled': 0,
 'diskBytesSpilled': 0,
 'peakExecutionMemory': 0,
 'inputBytes': 84276905,
 'inputRecords': 1179547,
 'outputBytes': 90624535,
 'outputRecords': 14566,
 'shuffleRemoteBlocksFetched': 0,
 'shuffleLocalBlocksFetched': 9,
 'shuffleFetchWaitTime': 0,
 'shuffleRemoteBytesRead': 0,
 'shuffleRemoteBytesReadToDisk': 0,
 'shuffleLocalBytesRead': 49730906,
 'shuffleReadBytes': 49730906,
 'shuffleReadRecords': 228,
 'shuffleWriteBytes': 49730906,
 'shuffleWriteTime': 405851800,
 'shuffleWriteRecords': 228}

## Część 2 - Spark SQL (DataFrame)

In [33]:
df = spark.table(df_result_table)

# Wyświetlenie 50 pierwszych rekordów
df.show(50)

+-------------------------+-----+
|                     word|count|
+-------------------------+-----+
|                      The| 9372|
|                   Bidhee|    7|
|                Solutions| 6041|
|                   ArtAce|    2|
|                  PuyTech|    1|
|                   McLeod|  208|
|                      RTV|   13|
|     Softwarehttp://p...|    1|
|紫荊雜誌社https://bau...|    1|
|                  Bacilio|    2|
|     Developerhttps:/...|    1|
|     Softwarehttp://w...|    1|
|                  Backend|   13|
|하이퍼펌프~hyper.cho...|    1|
|                    METRO|   21|
|     ADBANDhttp://www...|    1|
|                      Tcf|    1|
|                      Pug|   12|
|              Techologies|    4|
|     Tourismhttps://t...|    1|
|     Kinsale~gourmet...|    1|
|     Englishhttps://w...|    1|
|                    Darul|   10|
|                       📱|    3|
|                  Panipat|    2|
|     Konyukhovhttp://...|    1|
|                     Bold|   38|
|     Developerhttp://...|    1|
|     Advertisinghttp:...|    1|
|                 CÁNTABRO|    2|
|     Consultoreshttp:...|    1|
|                     Amit|  106|
|     CONTACTShttp://w...|    1|
|                    Jimmy|   78|
|     applications~ph...|    1|
|     Rechtshttps://ww...|    1|
|     KetchapPro~ketc...|    1|
|                     GIDA|    9|
|     dev~radsdev@mai...|    1|
|     Dipre~diomaris0...|    1|
|                   Games:|   41|
|                Beautiful|   62|
|                      Jio|   22|
|                   Phenix|   13|
|     Appshttps://seqa...|    1|
|                    Qulam|    2|
|     Gameshttp://tinm...|    1|
|     RedPACT~nancyak...|    1|
|                     Coin|   79|
|                 Smartify|    5|
+-------------------------+-----+
only showing top 50 rows

In [34]:
subtract_metrics(after_df_metrics, before_df_metrics)

{'numTasks': 12,
 'numActiveTasks': 0,
 'numCompleteTasks': 8,
 'numFailedTasks': 0,
 'numKilledTasks': 0,
 'numCompletedIndices': 8,
 'executorDeserializeTime': 1254,
 'executorDeserializeCpuTime': 446474600,
 'executorRunTime': 54900,
 'executorCpuTime': 22626614900,
 'resultSize': 36185,
 'jvmGcTime': 2428,
 'resultSerializationTime': 110,
 'memoryBytesSpilled': 0,
 'diskBytesSpilled': 0,
 'peakExecutionMemory': 440400752,
 'inputBytes': 84344235,
 'inputRecords': 1179547,
 'outputBytes': 50321941,
 'outputRecords': 1456441,
 'shuffleRemoteBlocksFetched': 0,
 'shuffleLocalBlocksFetched': 16,
 'shuffleFetchWaitTime': 0,
 'shuffleRemoteBytesRead': 0,
 'shuffleRemoteBytesReadToDisk': 0,
 'shuffleLocalBytesRead': 63406957,
 'shuffleReadBytes': 63406957,
 'shuffleReadRecords': 1622698,
 'shuffleWriteBytes': 63406957,
 'shuffleWriteTime': 817119700,
 'shuffleWriteRecords': 1622698}

## Część 3 - Pandas API on Spark

In [35]:
import json

# Odczytaj zawartość pliku JSON
with open(ps_result_file, 'r') as file:
    json_content = json.load(file)

# Wyświetl zawartość
print(json.dumps(json_content, indent=2))

{
  "-": 12048,
  "&": 11714,
  "The": 9329,
  "App": 8068,
  "of": 7933,
  "de": 7396,
  "Technologies": 7056,
  "Solutions": 6880,
  "Software": 6813,
  "Co.": 6800,
  "Apps": 6579,
  "Media": 6462,
  "Digital": 5836,
  "Pvt": 5602,
  "Pvt.": 5290,
  "Games": 5044,
  "Technology": 5009,
  "and": 4989,
  "Mobile": 4754,
  "Private": 4196,
  "": 3879,
  "Development": 3868,
  "Group": 3761,
  "IT": 3665,
  "Services": 3527,
  "Tech": 3445,
  "Game": 3333,
  "Bank": 3127,
  "by": 2831,
  "Systems": 2778,
  "International": 2580,
  "Global": 2579,
  "Web": 2563,
  "for": 2536,
  "BH": 2507,
  "Appswiz": 2452,
  "Smart": 2436,
  "Studio": 2330,
  "Credit": 2215,
  "Pty": 2202,
  "Free": 2186,
  "Business": 1840,
  "Radio": 1810,
  "New": 1778,
  "Health": 1710,
  "Company": 1710,
  "Online": 1629,
  "My": 1539,
  "Church": 1516,
  "Creative": 1458
}

In [36]:
subtract_metrics(after_ps_metrics, before_ps_metrics)

{'numTasks': 33,
 'numActiveTasks': 0,
 'numCompleteTasks': 25,
 'numFailedTasks': 0,
 'numKilledTasks': 0,
 'numCompletedIndices': 25,
 'executorDeserializeTime': 1838,
 'executorDeserializeCpuTime': 440241100,
 'executorRunTime': 166601,
 'executorCpuTime': 55323279000,
 'resultSize': 134363,
 'jvmGcTime': 4753,
 'resultSerializationTime': 123,
 'memoryBytesSpilled': 0,
 'diskBytesSpilled': 0,
 'peakExecutionMemory': 427817888,
 'inputBytes': 385819487,
 'inputRecords': 5409845,
 'outputBytes': 0,
 'outputRecords': 0,
 'shuffleRemoteBlocksFetched': 0,
 'shuffleLocalBlocksFetched': 20,
 'shuffleFetchWaitTime': 0,
 'shuffleRemoteBytesRead': 0,
 'shuffleRemoteBytesReadToDisk': 0,
 'shuffleLocalBytesRead': 61239298,
 'shuffleReadBytes': 61239298,
 'shuffleReadRecords': 1573467,
 'shuffleWriteBytes': 61239298,
 'shuffleWriteTime': 1111152100,
 'shuffleWriteRecords': 1573467}